h1 {
    color: rgb(42, 4, 77);
    font-size: 40px;
    font-weight: 300; 
    text-align: center;            
}
h2 {
    color: rgb(39, 8, 68);
    text-align: right;       
}
h3 {
    color: rgb(39, 8, 68);
    font-size: 40px;
    font-weight: 200;
    text-align: center;               
}
h4 {
    color: rgb(39, 8, 68);
    font-size: 20px;
    font-weight: 50;
 
 
              
}
/* Here I'm writing just to test it*/

#section1{
    color: rgb(77, 43, 3);
}
p {
    color: rgb(78, 48, 4); 
}

body {
    background-image: url(../images/01a78061348670364aee54dc3c753d06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
img{
    border-width: 5px;
    border-style: solid;
    border-color: rgb(56, 32, 2);
    border-radius: 5%;


}




